<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<meta charset="UTF-8">

<head>
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <form th:action="@{/user/{id}(id=${user.id})}" method="GET">
                <button type="submit">Просмотреть</button>
            </form>
            <form th:action="@{/user/{id}/edit(id=${user.id})}" method="GET">
                <button type="submit">Редактировать</button>
            </form>
            <form th:action="@{/user/{id}/delete(id=${user.id})}" th:method="DELETE">
                <input type="submit" value="Удалить" onclick="if (!confirm('Вы уверены, что хотите удалить пользователя?')) return false;">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/user/new">Добавить нового пользователя</a>
</body>
</html>

